.home-container{
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.home-container Button{
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  background-color: #005691;
}
.alan-all{
  background-color: #D7FBE8;
}
.alan-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alan-list-subj {
  margin: 0.4rem;
  cursor: pointer;
  background-color: #155263;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 15vh;
  border-radius: 1rem;
}
.alan-list-subj p{
  color: #EFDAD7;
  font-size: 10px;
  font-weight: 900;
  height: 5vh;
  min-width:20vw ;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  letter-spacing: 1px;

}
.alan-buttons{
  min-width: 20vw;
  height: 8vh;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;

}
.progresBar{
  min-width: 49vw;
  margin-left: 0.5rem;
  height: 5vh;
  background-color: #E9E5D6;
}
.checkbox{
  font-size: large;
  font-weight: 900;

}
.checkbox:hover{
  color: red;
}
.progressBar{
  display: flex;
  justify-content: flex-start;
  background-color: rgb(43, 255, 0);
  height: 6vh;
  border-radius: 2rem;
}
.form-control{
  display: flex;
  justify-content: center;
  align-items: center;

}
.targetQua{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #655D8A;
  height: 15vh;
  width: 100vw;
  padding: 1.5rem;
  color: #FDCEB9;
  font-size: 12px;
}
.form-label{
  color: #FDCEB9;
  font-size: 12px;

}
.form-form{
  background-color:  #FDCEB9;
  font-size: 12px;
  width: 35vw;

}
.form-buttons{
  font-size: 12px;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FDCEB9;
  color: #1A1A40;
  width: 40vw;
  height: 7vh;
}